{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="px-6 py-16 text-center">
        <h1 class="text-xl font-bold">Bengal Express</h1>
        <p>Bengal Express is more than just an online marketplace; it's a vibrant, curated destination dedicated to the rich culture, exquisite craftsmanship, and unique flavors of Bengal. We connect you directly to authentic products and passionate sellers from across the region and beyond.</p>

        <p>Whether you're seeking the intricate weave of a Baluchari saree, the earthy sweetness of Nolen Gur, timeless terracotta crafts, contemporary art, or handcrafted jewelry, Bengal Express brings it to your doorstep. We are committed to celebrating heritage, empowering local artisans, and providing a seamless, trustworthy shopping experience.</p>

        <p>Discover the essence of Bengal, delivered with speed and care. Your journey into authenticity starts here.</p>

    </div>
{% endblock %}